<div class="form">
  <!-- Titulo do modal -->
  <div class="px-6 py-4 border-b" id="title" fxLayuout="row" fxLayoutAlign="start center">
    <h2 class="title m-0">Pacientes</h2>
  </div>
  <form (ngSubmit)="cadastrarEditarPacientes()" [formGroup]="form" #formDir="ngForm" class="example-form">
    <mat-dialog-content>
      <div class="dualInp">
        <!-- Paciente -->
        <div class="paciente" >
          <mat-form-field class="example-full-width" id="inpN" appearance="standard">
            <mat-label id="paciente"> Paciente </mat-label>
            <input formControlName="nomePaciente" matInput required/>
            <mat-error *ngIf="form.get('nomePaciente').hasError('required') && formDir.submitted">
              Preencha este campo!!!
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Numero CPF -->
        <div class="numeroCPF">
          <mat-form-field class="example-full-width" id="inpN" appearance="standard">
            <mat-label id="numeroCPF"> Numero CPF </mat-label>
            <input formControlName="numeroCPF" matInput required/>
            <mat-error *ngIf="form.get('numeroCPF').hasError('required') && formDir.submitted">
              Preencha este campo!!!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Data de Criacao -->
      <div class="dtCriacao">
        <mat-form-field class="example-full-width" id="inpt" appearance="standard">
          <mat-label class="dtCriacao"> Data Criacao </mat-label>
          <input formControlName="dtCriacao" matInput required/>
          <mat-error *ngIf="form.get('dtCriacao').hasError('required') && formDir.submitted">
            Preencha este campo!!!
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Data de nascimento -->
      <div class="dtNascimento">
        <mat-form-field class="example-full-width" id="inpt" appearance="standard">
          <mat-label class="enderdtNascimentoeco"> Data Nascimento </mat-label>
          <input formControlName="dtNascimento" matInput required/>
          <mat-error *ngIf="form.get('dtNascimento').hasError('required') && formDir.submitted">
            Preencha este campo!!!
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Telefone -->
      <div class="telefone">
        <mat-form-field class="example-full-width" id="inpt" appearance="standard">
          <mat-label class="telefone"> Telefone </mat-label>
          <input formControlName="telefone" matInput required/>
          <mat-error>
            Preencha este campo!!!
          </mat-error>
        </mat-form-field>
      </div>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button mat-raised-button color="primary">{{ legendaBotao }}</button>
      </mat-dialog-actions>
    </mat-dialog-content>
  </form>
</div>
