<vex-page-layout mode="simple">
  <vex-page-layout-header class="leg" fxLayout="column" fxLayoutAlign="right start">
    <div vexContainer>
      <h2 id="titulo" class="title m-10 "> Medicos </h2>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content vexContainer>

    <div class="row" [formGroup]="form">
      <!-- FILTRO TABELA -->
      <div class="col-md-6">
        <mat-form-field class="inptPes" appearance="standard" fxFlex="grow">
          <mat-label>Pesquisar produto</mat-label>
          <input matInput formControlName="filtro" (change)="filtrarProdutos()" />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button style="background-color: #262B39; color: rgb(240, 255, 255);" mat-button fxFlex="grow"
          (click)="limparFiltro()">Limpar
          <mat-icon>backspace</mat-icon></button>
        </div>
        <div class="col-md-3">
          <button mat-button mat-raised-button color="primary" (click)="abrirModalCadastrarEditar()" fxFlex="grow">
            Adicionar <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <!-- TABELA -->
    <div class="simple example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" aria-label="tabela dos medicos">

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- CRM -->
        <ng-container matColumnDef="numeroCRM">
          <th mat-header-cell *matHeaderCellDef> numeroCRM </th>
          <td mat-cell *matCellDef="let medico"> {{ medico.numeroCRM }} </td>
        </ng-container>

        <!-- Nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Especializacao -->
        <ng-container matColumnDef="especializacao">
          <th mat-header-cell *matHeaderCellDef> especializacao </th>
          <td mat-cell *matCellDef="let element"> {{element.especializacao}} </td>
        </ng-container>

        <!-- Pacientes -->
        <ng-container matColumnDef="pacientes">
          <th mat-header-cell *matHeaderCellDef> pacientes </th>
          <td mat-cell *matCellDef="let element"> {{element.pacientes}} </td>
        </ng-container>

        <!-- Icons -->
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> acoes </th>
          <td mat-cell *matCellDef="let element">
            <button class="icons" mat-icon-button (click)="apagar()">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="icons" mat-icon-button (click)="abrirModalCadastrarEditar()">
              <mat-icon>editar</mat-icon>
            </button>
          </td>
        </ng-container>
      </table>
    </div>

  </vex-page-layout-content>
</vex-page-layout>
