<vex-page-layout mode="simple">

  <vex-page-layout-header class="leg" fxLayout="column" fxLayoutAlign="right start">
    <div vexContainer>
      <h2 id="titulo" class="title m-10 "> Medicos </h2>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer>

    <div class="row" [formGroup]="form">
      <!-- FILTRO TABELA -->
      <div class="col-md-8">
        <mat-form-field class="inptPes" appearance="standard" fxFlex="grow">
          <mat-label>Pesquisar Medicos</mat-label>
          <input matInput formControlName="filtro" (change)="filtrarMedicos()" />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button style="background-color: #262B39; color: rgb(240, 255, 255); height: 70%;" mat-button fxFlex="grow"
          (click)="limparFiltro()">Limpar
          <mat-icon>backspace</mat-icon></button>
      </div>
      <div class="col-md-2">
        <button style=" height: 70%;" mat-raised-button color="primary" (click)="abrirModalCadastrarEditar()" fxFlex="grow">
          Adicionar <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<div style="margin-top: 2rem;">
  <!-- TABELA -->
  <div class="mat-elevation-z8">
    <table aria-label="tabela dos medicos" mat-table [dataSource]="dataSource">

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- CRM -->
      <ng-container matColumnDef="numeroCRM">
        <th mat-header-cell *matHeaderCellDef> Numero CRM </th>
        <td mat-cell *matCellDef="let medico"> {{ medico.numeroCRM }} </td>
      </ng-container>

      <!-- Nome -->
      <ng-container matColumnDef="nomeMedico">
        <th mat-header-cell *matHeaderCellDef> Nome Medico </th>
        <td mat-cell *matCellDef="let medico"> {{medico.nomeMedico}} </td>
      </ng-container>

      <!-- Especializacao -->
      <ng-container matColumnDef="especializacao">
        <th mat-header-cell *matHeaderCellDef> Especialização </th>
        <td mat-cell *matCellDef="let medico"> {{medico.especializacao}} </td>
      </ng-container>

      <!-- Endereco -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let medico"> {{medico.endereco}} </td>
      </ng-container>

      <!-- Pacientes -->
      <ng-container matColumnDef="pacientes">
        <th mat-header-cell *matHeaderCellDef> Pacientes </th>
        <td mat-cell *matCellDef="let medico"> {{medico.pacientes}} </td>
      </ng-container>

      <!-- Icons -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let medico">
          <button class="icons" mat-icon-button (click)="abrirModalApagar(medico)">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="icons" mat-icon-button (click)="abrirModalCadastrarEditar(medico)">
            <mat-icon>editar</mat-icon>
          </button>
        </td>
      </ng-container>
    </table>
  </div>
</div>
