.leg{
  background-color: rgb(32, 58, 58) !important;
  font-size: 50pt;
}
#titulo{
  font-size: 25pt;
}
.example-container {
  height: 400px;
  width: 70%;
  overflow: auto;
}

table {
  width: 100%;
}

.simple{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
